@model FinalProject.Models.Dto.Employee.EmployeeInsertDto
@{
    ViewBag.PageTitle = "Employess Management";
    ViewBag.CardTitle = "Add Employee";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    var departments = ViewData["Departments"] as List<Department>;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Project Edit</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
       
       

            <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Employee</h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Create" method="post">
                                <div class="form-group">
                                    <label for="inputName">Employee Name</label>
                                    <input type="text" id="inputName" name="EmpName" class="form-control" required  value="Ali Yasser">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Employee Email</label>
                                    <input type="email" id="inputEmail" name="username" class="form-control" required value="aliyasser@project.com">
                                </div>
                                <div class="form-group">
                                    <label for="inputPosition">Employee Position</label>
                                    <input type="text" id="inputPosition" name="postion" class="form-control" required value="Manager">
                                </div>
                                <div class="form-group">
                                    <label for="inputDepartment">Employee Department</label>
                                    <select id="inputDepartment" name="DeptId" class="form-control custom-select" required >
                                        <option disabled selected>Select one</option>
                                        @foreach (var item in departments)
                                        {
                                            <option value="@item.DeptId">@item.DeptName</option> <!-- Assuming DeptId is available -->
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputSalary">Employee Salary</label>
                                    <input type="text" id="inputSalary" name="salary" class="form-control" required value="10000">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" id="inputPassword" name="password" class="form-control" required>
                                </div>
                                <div class="project-actions text-right" style="margin-top: 20px; margin-right: 20px;">
                                    <button type="submit" class="btn btn-success btn-sm text-white">
                                        <i class="fas fa-user"></i>
                                        Add
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>

            <!-- /.content -->
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>